{% extends 'LogIn/base.html' %}

{% block content %} 
    {% if validlink %} 
        <h3>Change password</h3>
        <form method="POST">
            <div class="container center my-r py-4 my-5 bg-dark">
                {% csrf_token %}
                {{form.as_p}}
                <button class="submit" type="submit">Change password</button>
            </div>
        </form>
    {% else %} 
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
    {% endif %} 
{% endblock %}
