{% extends 'LogIn/base.html' %}
{% block title %} Reset password {% endblock %}
{% block content %}
    <p class = 'text-center text-light'> Forgotten your password?</p>
    <p class = 'text-center comment'> It's okay, it happens.</p>
    <p class = 'text-center text-light'>Just type in the email you used when registering and a link to reset your password will be sent immediately.</p>

    <form method = 'post'>
        <div class="container center py-3 pb-2 my-4 bg-dark my-r">
                {% csrf_token %}
                {{form.as_p}}
        </div>
            <input class="form-control mt-3 submit center" type="submit" value="Submit">
    </form>
{% endblock %}